<% include C:\Users\ybhadreg\Desktop\nodelist\udemy\views\pratials\header %>

<h1>Welcome To campground</h1>


<a href="/campground">View all the campgrounds</a>


<% include C:\Users\ybhadreg\Desktop\nodelist\udemy\views\pratials\footer %>