
<% include C:\Users\ybhadreg\Desktop\nodelist\udemy\views\pratials\header %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Wheather</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="container">

<div style="color:black;" class="jumbotron">

<h1>This is campground Page</h1>
    <p>View our hand-picked   campground </p>
       <div class="row">

   <p> <a class="btn btn-large btn-success"style="margin-bottom:20px"href="/campground/new">Add New campground</a><a class="btn btn-large btn-primary" style="margin-left: 40px;margin-bottom:20px"href="/friend">check your Location</a></p>
</div>
    </div>
   <div class="row">

 <% camp.forEach(function(x){ %>
    
     
    
  <div class='col-lg-4 col-sm-6'>
      <div class="card"style="height:256px;margin-bottom:20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); width:220px" >
          
  <img style="height:150px"src="<%= x.image%>" class="img-thumbnail rounded" alt="camp">
  <div class="card-body"style="padding:8px; padding-left:50px">
    <h5 class="card-title" style="color:Black"><%= x.name%></h5>
   
    <a href="/campground/<%=x._id %>" style="padding-right:10px"class="btn btn-success">More Info</a>
  </div>
 </div>
</div>
     
<%})%>
        </div>


</div>
<% include C:\Users\ybhadreg\Desktop\nodelist\udemy\views\pratials\footer %>