
<% include C:\Users\ybhadreg\Desktop\nodelist\udemy\views\pratials\header %>

 <div class="row">

 
    
     
    
  <div class='col-lg-4 col-sm-6'>
      <div class="card"style="height:256px;margin-bottom:20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); width:220px" >
          
  <img style="height:150px"src="<%= camp.image%>" class="img-thumbnail rounded" alt="camp">
  <div class="card-body"style="padding:8px; padding-left:50px">
    <h5 class="card-title" style="color:Black"><%= camp.name%></h5>
   
<h5><%= camp.discription%></h5>   
  </div>
 </div>
</div>
     

        </div>
<% include C:\Users\ybhadreg\Desktop\nodelist\udemy\views\pratials\footer %>